body {
    margin: 0;
    padding: 0;
    font-family: serif;
    color: #3a3a3a;
}
.container {
    min-height: 100vh;
    background: linear-gradient(to bottom, #f5f5f5, #333);
    padding: 10vh 8px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.wooden-frame {
    background-image: url('../images/paper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4vmin solid #333;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25) inset, 0 5px 10px 5px rgba(0,0,0,0.25);
    display: inline-block;
    width: 51.43vw;
    height: 72vw;
    max-width: 580px;
    max-height: 750px;
    padding: 2vmin;
    position: relative;
    text-align: center;
}
.wooden-frame::before {
    content: "";
    position: absolute;
    border-radius: 2px;
    bottom: -2vmin;
    left: -2vmin;
    right: -2vmin;
    top: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25) inset;
}
.wooden-frame::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    bottom: -3vmin;
    left: -3vmin; 
    right: -3vmin; 
    top: -3vmin; 
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
}
.content {
    position: relative;
    z-index: 10;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 2vmin;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    margin-bottom: 2rem;
}
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-left: 4rem
}
.title {
    display: flex;
    align-items: center;
}
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}
.menu-icon {
    width: 5rem;
    height: 5rem;
    margin-left: auto;
    margin-right: 4.5rem;
}
.subtitle {
    font-style: italic;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 4rem;
    margin-top: -0.1rem;
}
.menu-content {
    display: flex;
    flex-grow: 1;
}
.menu-image {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 0;
    margin-block-start: -11rem;
}
.menu-items {
    width: 80%;
    text-align: center;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.menu-image svg {
    max-height: 100%;
    width: auto;
}
h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-style: italic;
}
.menu-list {
    margin-bottom: 1.5rem;
    margin-top: -1.2rem;
}
.menu-list p, .additional-items p {
    margin: 1.5rem 0;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.menu-list p:hover, .additional-items p:hover {
    transform: scale(1.55);
}
.additional-items {
    margin-bottom: 1.5rem;
}
.additional-items p {
    margin: 0.5rem 0;
    font-size: 1rem;
}
.footer {
    font-style: italic;
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: 2rem;
}
.header span {
    display: inline;
}

@media (max-width: 600px) {
    .header span:nth-child(2) {
        display: none; 
    }
}